<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ASPCT | Projects Board</title>
</head>
<body>

<div>
	<div>
		<h1>Projects</h1>
		<button><a th:href="@{/projects/create-form}">+ New project</a></button>
		<button><a th:href="@{/archive/}">View Archived Projects</a></button>
	</div>

	<hr>

	<table>
		<thead>
		<tr>
			<th>Project name</th>
			<th>Company</th>
			<th>Deadline</th>
			<th>Created At</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<tr th:if="${#lists.isEmpty(projects)}">
			<td colspan="5">No Projects Yet</td>
		</tr>

		<tr th:each="pj: ${projects}">
			<td>
				<a th:href="@{/projects/{projectId}/subprojects(projectId=${pj.projectId})}"
				   th:text="${pj.projectName}">Project Name</a>
			</td>
			<td th:text="${pj.companyName}">Company</td>
			<td th:text="${#temporals.format(pj.deadline, 'dd-MM-yyyy')}">Deadline</td>
			<td th:text="${#temporals.format(pj.createdAt, 'dd-MM-yyyy HH:mm')}">Created</td>
			<td>
				<a th:href="@{/projects/{projectId}/edit-form(projectId=${pj.projectId})}">Edit</a> |

				<form th:action="@{/archive/project/{projectId}/archive(projectId=${pj.projectId})}" th:method="POST" style="display:inline;">
					<button type="submit" style="background:none; border:none; color:blue; cursor:pointer; text-decoration:underline; padding:0; font-family:inherit; font-size:inherit;"
					        th:data-name="${pj.projectName}" onclick="return confirm('Are you sure you want to archive ' + this.getAttribute('data-name') + '?')">
						Archive
					</button>
				</form>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>