<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/error.css}">
	<title>ASPCT | Error</title>
</head>
<body>

<h2>Error <span th:text="${errorDetails.status}">000</span>: <span th:text="${errorDetails.error}">Error Title</span></h2>

<p th:text="${errorDetails.message}">An unexpected error occurred.</p>

<p style="color: gray;">
	Timestamp: <span th:text="${#temporals.format(errorDetails.timestamp, 'dd-MM-yyyy hh:mm a')}">Just now</span>
</p>

<hr>

<button type="button" >
<a th:href="@{/projects/}">Back to Dashboard</a>
</button>

</body>
</html>